spring:
  datasource:
    url: jdbc:mysql://localhost:3306/helpdesk?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: app
    password: app1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never
